.card {
    height: 128px;
    width: 128px;
    margin: 5px;
}

.in-discard-pile {
    background-color: bisque;
}

.stopwatch {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
}

.blocker {
    position: absolute;
    width: 600px;
    height: 750px;
    z-index: 2;
    background-color: black;
    opacity: 0.5;
}