.pause_button {
    height: 16px;
    width: 16px;
}

.cards_field {
    background-color: bisque;
}

.card {
    height: 128px;
    width: 128px;
    background-color: burlywood;
    margin: 5px;
}

.in-discard-pile {
    background-color: bisque;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
}